<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cafe Rating</title>
  </head>
  <body>
    {% for cafe in cafes %}
    <div class="cafe-card">
      <div class="details">
        <table>
          <tr>
            <td>
              <span>Sockets <i class="fa fa-plug fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              {% if cafe.has_sockets %}
              <i class="fa fa-check" aria-hidden="true"></i>
              {% else %}
              <i class="fa fa-ban" aria-hidden="true"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <span>WIFI <i class="fa fa-wifi fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              {% if cafe.has_wifi %}
              <i class="fa fa-check" aria-hidden="true"></i>
              {% else %}
              <i class="fa fa-ban" aria-hidden="true"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <span>Calls <i class="fa fa-phone fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              {% if cafe.can_take_calls %}
              <i class="fa fa-check" aria-hidden="true"></i>
              {% else %}
              <i class="fa fa-ban" aria-hidden="true"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <span>Bathroom <i class="fas fa-toilet fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              {% if cafe.has_toilet %}
              <i class="fa fa-check" aria-hidden="true"></i>
              {% else %}
              <i class="fa fa-ban" aria-hidden="true"></i>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>
              <span>Coffee Price <i class="fa fa-coffee fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <span>{{cafe.coffee_price}}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Number of Seats <i class="fa-solid fa-chair" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <span>{{cafe.seats}}</span>
            </td>
          </tr>
        </table>
      </div>
      <img src="{{cafe.img_url}}" alt="{{cafe.name}}" />
      <div class="del-confirm">
        <h3>Do you really want to delete this cafe from the list?</h3>
        <form action="{{url_for('delete_cafe', cafe_id= cafe.id)}}">
          <button class="red-conf">Yes</button>
          <button class="cancel">No</button>
        </form>
      </div>
      <form action="{{url_for('cafe', cafe_id=cafe.id)}}" method="POST" class="edit-form">
        {{edit_form.csrf_token}}
        <table>
          <tr>
            <td>
              <span>Name <i class="fa-solid fa-signature fa-xs"></i>: </span>
            </td>
            <td>{{edit_form.name(id=False, required=True)}}</td>
          </tr>
          <tr>
            <td>
              <span>Location <i class="fa-solid fa-location-dot fa-xs"></i>: </span>
            </td>
            <td>{{edit_form.location(id=False, required=True)}}</td>
          </tr>
          <tr>
            <td>
              <span>Location URL <i class="fa-solid fa-link fa-xs"></i>: </span>
            </td>
            <td>{{edit_form.location_url(id=False, required=True, type="url")}}</td>
          </tr>
          <tr>
            <td>
              <span>Image URL <i class="fa-solid fa-image fa-xs"></i>: </span>
            </td>
            <td>{{edit_form.img_url(id=False, required=True, type="url")}}</td>
          </tr>
          <tr>
            <td>
              <span>Sockets <i class="fa fa-plug fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              <div class="toggle">
                <button class="toggle-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="toggle-uncheck"><i class="fa fa-ban" aria-hidden="true"></i></button>
                {{edit_form.sockets(id=False, class="hidden-checkbox")}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span>WIFI <i class="fa fa-wifi fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <div class="toggle">
                <button class="toggle-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="toggle-uncheck"><i class="fa fa-ban" aria-hidden="true"></i></button>
                {{edit_form.wifi(id=False, class="hidden-checkbox")}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span>Calls <i class="fa fa-phone fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <div class="toggle">
                <button class="toggle-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="toggle-uncheck"><i class="fa fa-ban" aria-hidden="true"></i></button>
                {{edit_form.calls(id=False, class="hidden-checkbox")}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span>Bathroom <i class="fas fa-toilet fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              <div class="toggle">
                <button class="toggle-check"><i class="fa fa-check" aria-hidden="true"></i></button>
                <button class="toggle-uncheck"><i class="fa fa-ban" aria-hidden="true"></i></button>
                {{edit_form.bathroom(id=False, class="hidden-checkbox")}}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <span>Coffee Price <i class="fa fa-coffee fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>{{edit_form.coffee_price(id=False, required=True, pattern="^\W\d[1-9]*\.\d{2}$", title="Price must be in a format: [currency character]d.dd.")}}</td>
          </tr>
          <tr>
            <td>
              <span>Number of Seats <i class="fa-solid fa-chair" aria-hidden="true"></i>:</span>
            </td>
            <td>{{edit_form.number_of_seats(id=False, required=True, pattern="^[^a-zA-z]+$", title="Only digits and special characters allowed.")}}</td>
          </tr>
        </table>
        <div class="edit-form-controls">
          <button>Save Changes</button>
          <button class="cancel">Cancel</button>
        </div>
      </form>
      <div class="card-bottom">
        <div class="info">
          <h3>{{cafe.name}}</h3>
          <small><a href="{{cafe.map_url}}">{{cafe.location}}</a></small>
        </div>
        <div class="edit-area">
          <button class="edit"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></button>
          <button class="delete"><i class="fa-solid fa-square-minus"></i></button>
        </div>
      </div>
    </div>
    {% endfor %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
