<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cafe Rating</title>
  </head>
  <body>
    <div class="cafe-card">
      <img src="https://www.fillmurray.com/1000/1000" alt="Test" />
      <div class="card-bottom">
        <div class="info">
          <h3>Name</h3>
          <small><a href="#">Location</a></small>
        </div>
        <div class="edit-area">
          <button class="edit"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></button>
          <button class="delete" d><i class="fa-solid fa-square-minus"></i></button>
        </div>
      </div>
      <div class="details">
        <table>
          <tr>
            <td>
              <span>Sokets <i class="fa fa-plug fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>WIFI <i class="fa fa-wifi fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <i class="fa fa-check" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>Calls <i class="fa fa-phone fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <i class="fa fa-check" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>Bathroom <i class="fas fa-toilet fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              <i class="fa fa-check" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>Coffe Price <i class="fa fa-coffee fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <span class="prop-value">£2.40</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Number of Seats <i class="fa-solid fa-chair" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <span class="prop-value">32</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="cafe-card">
      <img src="https://www.fillmurray.com/1000/1000" alt="Test" />
      <div class="card-bottom">
        <div class="info">
          <h3>Name</h3>
          <small><a href="#">Location</a></small>
        </div>
        <div class="edit-area">
          <button class="edit"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></button>
          <button class="delete" d><i class="fa-solid fa-square-minus"></i></button>
        </div>
      </div>
      <div class="details">
        <table>
          <tr>
            <td>
              <span>Sokets <i class="fa fa-plug fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              <i class="fa fa-ban" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>WIFI <i class="fa fa-wifi fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <i class="fa fa-check" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>Calls <i class="fa fa-phone fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <i class="fa fa-check" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>Bathroom <i class="fas fa-toilet fa-xs" aria-hidden="true"></i>: </span>
            </td>
            <td>
              <i class="fa fa-check" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td>
              <span>Coffe Price <i class="fa fa-coffee fa-xs" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <span class="prop-value">£2.40</span>
            </td>
          </tr>
          <tr>
            <td>
              <span>Number of Seats <i class="fa-solid fa-chair" aria-hidden="true"></i>:</span>
            </td>
            <td>
              <span class="prop-value">32</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
